@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid #dee2e6;
}

.table-dark {
  background-color: #343a40;
  color: white;
}

.badge {
  padding: 0.5em 0.75em;
  font-size: 0.85em;
  border-radius: 0.25rem;
}

.bg-success {
  background-color: #28a745;
  color: white;
}

.bg-primary {
  background-color: #007bff;
  color: white;
}

.text-pink {
  color: #d63384;
}
